@page "/camisetas"

<PageTitle>Camisetas - Golazo Store</PageTitle>

<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center mb-8 text-gray-800">Colección de Camisetas</h1>

    <p class="text-lg text-gray-700 text-center mb-8">
        Explora las últimas camisetas de tus equipos y selecciones favoritas.
        ¡Encuentra la tuya hoy!
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
        
    </div>
</div>

@code {

}
