@page "/botines"

<PageTitle>Botines - Golazo Store</PageTitle>

<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center mb-8 text-gray-800">Colección de Botines</h1>

    <p class="text-lg text-gray-700 text-center mb-8">
        Descubre los botines de fútbol más avanzados para potenciar tu juego en cualquier terreno.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
        <!-- Aquí es donde irán los productos dinámicos -->
    </div>
</div>

@code {

}
