<div class="top-row ps-3 navbar navbar-dark bg-[#1A1A1A]">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Golazo Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="collapse navbar-collapse bg-[#1A1A1A]" id="navMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="/camisetas">
                <span class="bi bi-tshirt" aria-hidden="true"></span> Camisetas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="/botines">
                <span class="bi bi-shoe-prints" aria-hidden="true"></span> Botines
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="/guantes">
                <span class="bi bi-hand-index-thumb" aria-hidden="true"></span> Guantes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="/accesorios">
                <span class="bi bi-tags" aria-hidden="true"></span> Accesorios
            </NavLink>
        </div>
    </nav>
</div>